<div class="container">
    <h1>Contact Me</h1>

    <ul class="social-media">
        <li>
            <a href="https://www.linkedin.com/in/khadija-belmadani-43abb9200" target="_blank">
                <i class='bx bxl-linkedin'></i>
            </a>
        </li>
        <li>
            <a href="mailto:kbelmadani906@gmail.com" target="_blank">
                <i class='bx bxl-gmail'></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/KhadijaBelmadani" target="_blank">
                <i class='bx bxl-github'></i>
            </a>
        </li>
        <li>
            <a href="https://wa.me/0770335681" target="_blank">
                <i class='bx bxl-whatsapp'></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/kh_adija3676" target="_blank">
                <i class='bx bxl-instagram'></i>
            </a>
        </li>
        <li>
            <a href="https://www.reddit.com/user/KhadijaBelmadani" target="_blank">
                <i class='bx bxl-reddit'></i>
            </a>
        </li>
    </ul>


</div>
