:root{
    --red:#f44336;
    --red-light:#CD5C5C;
    --gray-light:#BDBDBD;
    --dark-gray:#09415c;
    --black:#212121;
}
*{
    margin: 0;
    box-sizing: border-box;
    background-color: #212121;
}

body {  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
.container{
    margin: 0 auto;
    max-width: 1500px;
    outline: 0px solid white;
}
